
$social-icons-color:$border-color;

footer{
padding:27px 0px 15px;
    .social-icons{

        margin-bottom:18px;
        a{

            margin-left:31px;
            color:$social-icons-color;
          
            
            &:first-of-type{
                margin-left:0;
            }

            span{
                transition:all 0.5s ease-in;
            &:hover{
                transform: rotate(360deg);
            }}
        }
        //span ends

    }
    //social icons ends

    p{
        font-size: 1.2rem;
        letter-spacing: -0.17px;
        line-height: 4.1rem;

    }

}
//footer ends

@media (min-width:768px){
    footer{
        padding:47px 0px 25px;
    }
    
}