
.lead-section{

    margin-bottom:88px !important;
}

@media (min-width:992px){

    .lead-section{

       padding:283px 0;
}
    
    .services{


        .services-item-1{

            margin-bottom:-1px;}
    }
}
         