
.single-service{

    margin-bottom:100px;
    .single-service-description{

        h3{
            @include h3(2.0rem, 0 0 0 0, 3.0rem);

        }

        p{
            font-size: 1.4rem;
        }

    }//single-service-description ends
}//single-service ends

@media (min-width:576px){
    .single-service{
        padding-top:50px;
        margin-bottom:181px;
        .single-service-description{

            h3{
                @include h3(2.5rem, 0 0 0 0, 5.0rem);

            }

            p{
                font-size: 1.6rem;
            }

        }//single-service description
    }//single-service ends

}//576px breakpoint-ends


@media (min-width:768px){
    .single-service{
        padding:100px 0 56px;
        margin-bottom:0px !important;
        figure{
            padding-right:10px;
            overflow:hidden;

            img{
                @include scalable-hover();
            }

        }

        .single-service-description{
            margin-bottom:40px;
            h3{

                @include h3(3.0rem, 0 0 0 0, 3.0rem);

            }

            p{
                font-size: 1.6rem;
                overflow: auto;
                height: 3 * 6.5rem;
                margin-bottom:0;
            }

        }//single-service description ends
    }//single-service ends

}//768px breakpoint ends




@media (min-width:992px){
    .single-service{
        padding-top:150px;
        padding-bottom:150px;

        .single-service-description{

            h3{
                @include h3(4.4rem, 0 0 0 0, 5.0rem);
            }

            p{
                overflow:hidden;
                font-size: 1.8rem;
                height: 3 * 8rem;
            }

        }

        figure{
            padding-bottom:0 !important;
        }
    }//single-service-ends

}//992px breakpoint ends

@media (min-width:1200px){
    .single-service{
        padding-top:170px;
        padding-bottom:181px;
        .single-service-description{

            p{
                overflow:visible;
            }

        }
    }//single-service ends

    .trends{
        padding-bottom:135px;
    }

}//1200px breakpoint ends